.Infobackground {
	background-color:#313131;
	padding-top: 3vw;
	padding-bottom: 3vw;
	padding-right: 1vw;
	padding-left: 1vw;
	margin-top: 12vw;
	width : 23vw;
	border-radius: 1vw;
	opacity: 10;
}
.Button{
	margin :.5vw;
	width: 9vw;
	margin-top: 2vw;
}
.error {
	color : #ff0000;
	margin-top : 2vw
}